---
import Container from "../shared/Container.astro";
import Title from "../shared/Title.astro";
import Paragraph from "../shared/Paragraph.astro";
import Team from "../shared/Team.astro";

const ourTeams = [
  {
    img: "/images/student.webp",
    text: "Mohammod Ali.",
    desc: "Lorem ipsum dolor sit amet, consectetur adipiscing elit. Amet",
  },
  {
    img: "/images/student.webp",
    text: "Mohammod Ali",
    desc: "Lorem ipsum dolor sit amet, consectetur adipiscing elit. Amet",
  },
  {
    img: "/images/student.webp",
    text: "Mohammod Ali",
    desc: "Lorem ipsum dolor sit amet, consectetur adipiscing elit. Amet",
  },
  {
    img: "/images/student.webp",
    text: "Mohammod Ali",
    desc: "Lorem ipsum dolor sit amet, consectetur adipiscing elit. Amet",
  },
  {
    img: "/images/student.webp",
    text: "Mohammod Ali",
    desc: "Lorem ipsum dolor sit amet, consectetur adipiscing elit. Amet",
  },
  {
    img: "/images/student.webp",
    text: "Mohammod Ali",
    desc: "Lorem ipsum dolor sit amet, consectetur adipiscing elit. Amet",
  },
  {
    img: "/images/student.webp",
    text: "Mohammod Ali",
    desc: "Lorem ipsum dolor sit amet, consectetur adipiscing elit. Amet",
  },
  {
    img: "/images/student.webp",
    text: "Mohammod Ali",
    desc: "Lorem ipsum dolor sit amet, consectetur adipiscing elit. Amet",
  },
];
---

<section class="relative">
  <Container className="space-y-8 pt-32 lg:pt-36">
    <div class="absolute w-full lg:w-1/2 inset-y-0 lg:right-0">
      <span
        class="absolute -left-6 md:left-[18rem] top-24 lg:top-28 w-24 h-24 rotate-90 skew-x-12 rounded-3xl bg-green-400 blur-xl opacity-60 lg:opacity-95 lg:block hidden"
      ></span>
    </div>
    <span
      class="w-4/12 lg:w-2/12 aspect-square bg-gradient-to-tr from-primary to-green-400 absolute -top-5 lg:left-0 rounded-full skew-y-12 blur-2xl opacity-40 skew-x-12 rotate-90"
    ></span>
    <div class="text-center max-w-3xl mx-auto">
      <Title>Meet with Our Mentor</Title>

      <Paragraph className="mt-5">
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Amet,
        vestibulum euismod nullam elementum. Urna, posuere nisi sit gravida
        massa.
      </Paragraph>
    </div>
    <div class="grid lg:grid-cols-4 sm:grid-cols-2 gap-4">
      {
        ourTeams.map((item) => {
          return <Team {...item} />;
        })
      }
    </div>
  </Container>
</section>
