---
import Service from "../cards/Service.astro";
import Container from "../shared/Container.astro";
import Paragraph from "../shared/Paragraph.astro";
import Title from "../shared/Title.astro";
import Accordion from "../Accordion.vue";
---

<section id="services">
  <Container className="space-y-10 md:sapce-y-12">
    <div class="text-center max-w-4xl mx-auto space-y-4">
      <div
        class="absolute rotate-45 -left-5 md:-left-10 lg:-left-20 xl:-left-24 p-1 top-1/2 w-16 h-16 bg-gradient-to-br from-primary to-orange-400 blur-3xl opacity-50"
      >
      </div>
      <div
        class="absolute p-1 -top-4 md:-top-10 right-0 w-20 h-20 bg-gradient-to-br from-primary to-orange-400 rounded-full blur-3xl opacity-60"
      >
      </div>

      <span
        class="absolute w-full aspect-[16/5] -skew-x-12 rounded-full bg-gradient-to-tr from-primary to-green-400 opacity-40 blur-2xl left-0 bottom-0"
      ></span>
      <Title>
        FAQ: <span class="text-orange-500">Alvon</span> o'quv markaziga ta'lim bo'yicha
        beriladigan eng ommabop savollar
      </Title>
    </div>

    <Accordion client:load />
  </Container>
</section>
