---
import Service from "../cards/Service.astro";
import Container from "../shared/Container.astro";
import Paragraph from "../shared/Paragraph.astro";
import Title from "../shared/Title.astro";
import Accordion from "../Accordion.vue";
---

<section id="faq">
  <Container className="space-y-10 md:sapce-y-12">
    <div class="text-center max-w-4xl mx-auto space-y-4">
      <Title>
        FAQ: <span class="text-orange-500">Alvon</span> o'quv markaziga ta'lim bo'yicha
        beriladigan eng ommabop savollar
      </Title>
    </div>

    <Accordion client:load />
  </Container>
</section>
