---
import Service from "../cards/Service.astro";
import Container from "../shared/Container.astro";
import Paragraph from "../shared/Paragraph.astro";
import Title from "../shared/Title.astro";
---

<section id="services" class="relative">
  <div class="absolute w-full lg:w-1/2 inset-y-0 lg:right-0">
    <!-- <span
      class="absolute -left-6 md:left-4 top-24 lg:top-28 w-24 h-24 rotate-90 skew-x-12 rounded-3xl bg-green-400 blur-xl opacity-60 lg:opacity-95 lg:block hidden"
    ></span> -->
  </div>
  <span
    class="absolute left-4 bottom-12 w-24 h-24 rounded-3xl bg-orange-600 blur-xl opacity-80"
  ></span>
  <span
    class="w-4/12 lg:w-2/12 aspect-square bg-gradient-to-tr from-primary to-green-400 absolute -bottom-5 lg:right-0 rounded-full skew-y-12 blur-2xl opacity-40 skew-x-12 rotate-90"
  ></span>
  <Container className="space-y-10 md:sapce-y-12">
    <div class="text-center max-w-4xl mx-auto space-y-4">
      <!-- <Title>
        <span class="text-[#43e20e]">Zakiy Academy</span>
      </Title> -->

      <Title>Yorqin kelajakni yaratadigan kursingizni toping</Title>
      <Paragraph>
        Eng yaxshi sarmoya - bu bilimga qilingan sarmoyadur.
      </Paragraph>
      <Paragraph>
        <span class="text-amber-400"
          >Bizda yigitlar va qizlar uchun darslar alohida tashkil qilinadi !</span
        >
      </Paragraph>
    </div>
    <div class="grid sm:grid-cols-2 lg:grid-cols-3 gap-6 lg:gap-8">
      <Service
        href="arabic-language"
        title="Arab tili darslari."
        description="Kelajagingni arab tili bilan qurmoqchi bo'lgan insonlarga, kelajak quruvchilari bo'lgan ustozlarimiz xizmati taklif etamiz."
      >
        <span slot="icon">
          <img
            src="/images/arab.png"
            alt="not found img"
            width="36"
            height="36"
          />
        </span>
      </Service>
      <Service
        href="mathematics"
        title="Matematika darslari."
        description="Markazimizga tashrif buyuring va matematika faqat hisob-kitobdangina emasligining guvohi bo'ling."
      >
        <span slot="icon">
          <img
            src="/images/math.png"
            alt="not found img"
            width="36"
            height="36"
          />
        </span>
      </Service>
      <Service
        href="english-language"
        title="Ingliz tili darslari."
        description="Oliy o'quv yurtlari yoki chet elga chiqish yohud trenddagi sohalar uchun albatta ingliz tili talab etiladi."
      >
        <span slot="icon">
          <img
            src="/images/eng.png"
            alt="not found img"
            width="36"
            height="36"
          />
        </span>
      </Service>
      <Service
        href="russian-language"
        title="Rus tili darslari."
        description="Qiziqarli film yoki kitoblarni o'qimioqchi bo'lamiz-u o'zbek tilida bo'lmaydi. Bu muammoga esa bizning rus tili darslarimiz yechim bo'la oladi."
      >
        <span slot="icon">
          <img
            src="/images/rus.png "
            alt="not found img"
            width="36"
            height="36"
          />
        </span>
      </Service>
      <Service
        href="pre-school"
        title="Maktabgacha tayyo'rlov darslari."
        description="Bu yoshdagi aksariyat bololarda: ko'p savol berish, qiziquvchanlik kabi hislatlar rivojlanadi. Bu paytda esa sizga 'Zakiy Academy' yordam beradi."
      >
        <span slot="icon">
          <img
            src="/images/logical.png"
            alt="not found img"
            width="36"
            height="36"
          />
        </span>
      </Service>
      <Service
        href="arabic-kids"
        title="Arab tili kids."
        description="Bolalaringizni arab tilida qiyinchiliklarsiz o‘qish, yozish va ravon gapirishini istaysizmi unda biz bilan ta'lim oling."
      >
        <span slot="icon">
          <img
            src="/images/alif.png"
            alt="not found img"
            width="36"
            height="36"
          />
        </span>
      </Service>
      <Service
        href="#"
        title="IT"
        description="Bitta kursda - to'liq kasb. Siz zamonaviy kasblarni o'rganmoqchimisiz unda kursga yoziling. Kompiyuter bilimlarini yaxshi bilmaganlar uchun bizda Kompiyuter SAVODXONLIGI kurslari ham mahvjud."
      >
        <span slot="icon">
          <img
            src="/images/information.png"
            alt="not found img"
            width="36"
            height="36"
          />
        </span>
      </Service>
      <Service
        href="#"
        title="Mental arifmetika"
        description="Kurslarimiz 5 yoshdan 12 yoshgacha bollarga mo'jalangan. Mental arifmetika  bu qo'l va hisob cho't yordamida matematik hisoblarni tez va onson bajarishdir. Malumot uchun - mental arifmetika dasturi dunyoning 45 dan ziyod mamlakatlarida foydalaniladi."
      >
        <span slot="icon">
          <img
            src="/images/psychology.png"
            alt="not found img"
            width="36"
            height="36"
          />
        </span>
      </Service>
      <Service
        href="#"
        title="Med kurs"
        description="Inson salomatligini asrash va mustahkamlash, qolaversa, uzoq umr ko‘rishning garovi sog‘lom turmush tarzi ekanligi bugun barchaga ayon haqiqat. Sog'lom turmush tarzini biz bilan yarating."
      >
        <span slot="icon">
          <img
            src="/images/kit.png"
            alt="not found img"
            width="36"
            height="36"
          />
        </span>
      </Service>
    </div>
  </Container>
</section>
