---
import Info from "../cards/Info.astro";
import Container from "../shared/Container.astro";
import Paragraph from "../shared/Paragraph.astro";
import Title from "../shared/Title.astro";
import { YouTube } from "@astro-community/astro-embed-youtube";
---

<section id="about-us">
  <Container className="flex flex-col midmd:flex-row gap-10 lg:gap-12">
    <div
      class="max-w-md mx-auto midmd:max-w-none lg:mx-0 p-0 lg:pr-10 xl:pr-2 flex-1 flex w-full midmd:w-5/12 lg:w-1/2 midmd:h-auto"
    >
      <div class="w-full sm:h-96 midmd:h-full relative">
        <div
          class="absolute rotate-45 -left-5 md:-left-10 lg:-left-20 xl:-left-24 p-1 top-1/2 w-16 h-16 bg-gradient-to-br from-primary to-orange-400 blur-3xl opacity-50"
        >
        </div>
        <div
          class="absolute p-1 -top-4 md:-top-10 right-0 w-20 h-20 bg-gradient-to-br from-primary to-orange-400 rounded-full blur-3xl opacity-60"
        >
        </div>

        <span
          class="absolute w-full aspect-[16/5] -skew-x-12 rounded-full bg-gradient-to-tr from-primary to-green-400 opacity-40 blur-2xl left-0 bottom-0"
        ></span>

        <YouTube
          class="rounded-lg h-full"
          id="https://youtu.be/fywimngbWTk"
          poster="/images/teacher-arabic.webp"
        />
      </div>
    </div>

    <div class="flex-1 flex midmd:w-7/12 lg:w-1/2 flex-col">
      <Title>
        <span class="text-orange-500">Alvon</span> Arab tili darslaridan lavhalar!
      </Title>
      <Paragraph className="mt-8">
        Arab tilini o'rganishga hech qachon kech emas.<br /> Shunchaki boshlash kerak!
        Markazimiz hozirgi vaqtga qadar 8 yoshdan 60 yoshgacha <span
          class="text-orange-500 text-3xl">1000</span
        > dan ortiq bitiruvchilarni chiqazgan.
      </Paragraph>

      <div
        class="pt-8 grid sm:grid-cols-2 items-center gap-4 max-w-3xl md:max-w-[none]"
      >
        <Info
          description=""
          title="Arab tili xattotlik fani dunyodagi eng go'zal fandir."
        >
          <span slot="icon">
            <img
              src="/images/arabic.webp"
              alt="not found img"
              width="36"
              height="36"
            />
          </span>
        </Info>
        <Info
          description=""
          title="Arab tili dunyoda eng go'zal va mukammal tildir."
        >
          <span slot="icon">
            <img
              src="/images/pattern.webp"
              alt="not found img"
              width="36"
              height="36"
            />
          </span>
        </Info>
      </div>
    </div>
  </Container>
</section>
