---
import Layout from "../layouts/Layout.astro";
import AboutEducation from "../components/sections/AboutEducation.astro";
---

<Layout title="About">
  <main class="flex flex-col gap-y-20 md:gap-y-32 overflow-hidden">
    <AboutEducation />
  </main>
</Layout>
