---
import Layout from "../layouts/Layout.astro";
import Blogg from "../components/sections/Blog.astro";
---

<Layout title="blog">
  <main class="flex flex-col gap-y-20 md:gap-y-32 overflow-hidden">
    <Blogg />
  </main>
</Layout>
