---
import Layout from "../layouts/Layout.astro";
import Hero from "../components/sections/Hero.astro";
import Services from "../components/sections/Services.astro";
import AboutUs from "../components/sections/AboutUs.astro";
import Features from "../components/sections/Features.astro";
import Login from "../components/Login.vue";
// import Brands from '../components/sections/Brands.astro';

import VideoUs from "../components/sections/VideoUs.astro";
---

<Layout title="Education">
  <main class="flex flex-col gap-y-20 md:gap-y-32 overflow-hidden">
    <Hero />
    <!-- <Brands/> -->
    <Services />
    <VideoUs />
    <!-- <AboutUs /> -->
    <Features />
    <Login client:load />
  </main>
</Layout>
