---
import Layout from "../layouts/Layout.astro";
import AboutTeam from "../components/sections/AboutTeam.astro";
---

<Layout title="Welcome to AgenceX">
  <main class="flex flex-col gap-y-20 md:gap-y-32 overflow-hidden">
    <AboutTeam />
  </main>
</Layout>
