---
import GroupFooterNav from "../blocks/GroupFooterNav.astro";
import Container from "../shared/Container.astro";
import FooterNav from "../shared/FooterNav.astro";
import Paragraph from "../shared/Paragraph.astro";

const footerNav1 = [
  {
    itemText: "Odamlarning fikrlari",
    itemLink: "#",
  },
  {
    itemText: "O'quv markazning afzalliklari",
    itemLink: "#",
  },
  {
    itemText: "Ko'p so'raladigan savollar",
    itemLink: "#",
  },
  {
    itemText: "O'quv markazning yutuqlari",
    itemLink: "#",
  },
];

const footerCompany = [
  {
    itemText: "Jamoa",
    itemLink: "#",
  },
  {
    itemText: "Xizmatlar",
    itemLink: "#",
  },
  {
    itemText: "Biz haqimizda",
    itemLink: "#",
  },
  {
    itemText: "Kurslar",
    itemLink: "#",
  },
];
---

<div class="mt-16"></div>
<footer
  class="relative bg-gradient-to-tr from-gray-100 to-gray-200 dark:from-gray-900 pt-28 rounded-t-3xl"
>
  <div class="absolute right-0 top-0 h-full w-full flex justify-end">
    <div class="w-28 h-28 overflow-hidden flex rounded-xl relative blur-2xl">
      <span
        class="absolute w-16 h-16 -top-1 -right-1 bg-orange-500 rounded-md rotate-45"
      ></span>
      <span
        class="absolute w-16 h-16 -bottom-1 -right-1 bg-orange-400 rounded-md rotate-45"
      ></span>
      <span
        class="absolute w-16 h-16 -bottom-1 -left-1 bg-orange-500 rounded-md rotate-45"
      ></span>
    </div>
  </div>

  <div class="absolute left-0 bottom-0 h-full w-full flex items-end">
    <div class="w-28 h-28 overflow-hidden flex rounded-xl relative blur-2xl">
      <span
        class="absolute w-16 h-16 -top-1 -right-1 bg-green-500 rounded-md rotate-45"
      ></span>
      <span
        class="absolute w-16 h-16 -bottom-1 -right-1 bg-[#FCDC58] rounded-md rotate-45"
      ></span>
      <span
        class="absolute w-16 h-16 -bottom-1 -left-1 bg-primary rounded-md rotate-45"
      ></span>
    </div>
  </div>

  <Container className="pb-8 relative overflow-hidden">
    <span
      class="absolute top-1/2 left-1/2 -translate-y-1/2 -translate-x-1/2 blur-2xl opacity-20 w-24 h-16 sm:w-48 sm:h-36 rounded-full rotate-12 skew-x-6 bg-primary"
    ></span>

    <div class="grid md:grid-cols-2 lg:items-stretch gap-8 relative">
      <div class="col-span-1 lg:col-span-1 h-auto flex flex-col">
        <div class="h-full">
          <a href="#" class="relative flex items-center gap-3">
            <span
              slot="icon"
              class="text-[#43e20e] text-base font-bold flex items-center gap-4"
            >
              <img
                src="/images/zakiy-logo.png"
                alt="not found img"
                width="50"
                height="50"
              />
              Zakiy Academy
            </span>
          </a>
          <Paragraph className={"mt-8 text-gray-600"}>
            Bizning manzilimiz:
          </Paragraph>
          <p class="mt-1 dark:text-white text-sm">
            Toshken tumani Xasanboy ota(Kirib) jome masjidi ro'parasi
          </p>

          <Paragraph className={"mt-8 text-gray-600"}>
            Biz bilan bog'lanish:
          </Paragraph>
          <div class="flex flex-col">
            <a
              class="mt-1 dark:text-white text-sm"
              href="tel:+998959605566"
              target="blank">+998 95 960 55 66</a
            >
            <a
              class="mt-1 dark:text-white text-sm"
              href="tel:+998959705566"
              target="blank">+998 95 970 55 66</a
            >
          </div>
        </div>

        <!-- social links -->
        <div class="min-h-max flex items-center gap-4 text-heading-3 mt-8">
          <a
            href="https://t.me/ZAKIYACADEMY"
            class="transition hover:text-heading-1 hover:scale-105"
          >
            <svg
              xmlns="http://www.w3.org/2000/svg"
              viewBox="0 0 48 48"
              width="32px"
              height="32px"
              ><linearGradient
                id="BiF7D16UlC0RZ_VqXJHnXa"
                x1="9.858"
                x2="38.142"
                y1="9.858"
                y2="38.142"
                gradientUnits="userSpaceOnUse"
                ><stop offset="0" stop-color="#33bef0"></stop><stop
                  offset="1"
                  stop-color="#0a85d9"></stop></linearGradient
              ><path
                fill="url(#BiF7D16UlC0RZ_VqXJHnXa)"
                d="M44,24c0,11.045-8.955,20-20,20S4,35.045,4,24S12.955,4,24,4S44,12.955,44,24z"
              ></path><path
                d="M10.119,23.466c8.155-3.695,17.733-7.704,19.208-8.284c3.252-1.279,4.67,0.028,4.448,2.113	c-0.273,2.555-1.567,9.99-2.363,15.317c-0.466,3.117-2.154,4.072-4.059,2.863c-1.445-0.917-6.413-4.17-7.72-5.282	c-0.891-0.758-1.512-1.608-0.88-2.474c0.185-0.253,0.658-0.763,0.921-1.017c1.319-1.278,1.141-1.553-0.454-0.412	c-0.19,0.136-1.292,0.935-1.745,1.237c-1.11,0.74-2.131,0.78-3.862,0.192c-1.416-0.481-2.776-0.852-3.634-1.223	C8.794,25.983,8.34,24.272,10.119,23.466z"
                opacity=".05"></path><path
                d="M10.836,23.591c7.572-3.385,16.884-7.264,18.246-7.813c3.264-1.318,4.465-0.536,4.114,2.011	c-0.326,2.358-1.483,9.654-2.294,14.545c-0.478,2.879-1.874,3.513-3.692,2.337c-1.139-0.734-5.723-3.754-6.835-4.633	c-0.86-0.679-1.751-1.463-0.71-2.598c0.348-0.379,2.27-2.234,3.707-3.614c0.833-0.801,0.536-1.196-0.469-0.508	c-1.843,1.263-4.858,3.262-5.396,3.625c-1.025,0.69-1.988,0.856-3.664,0.329c-1.321-0.416-2.597-0.819-3.262-1.078	C9.095,25.618,9.075,24.378,10.836,23.591z"
                opacity=".07"></path><path
                fill="#fff"
                d="M11.553,23.717c6.99-3.075,16.035-6.824,17.284-7.343c3.275-1.358,4.28-1.098,3.779,1.91	c-0.36,2.162-1.398,9.319-2.226,13.774c-0.491,2.642-1.593,2.955-3.325,1.812c-0.833-0.55-5.038-3.331-5.951-3.984	c-0.833-0.595-1.982-1.311-0.541-2.721c0.513-0.502,3.874-3.712,6.493-6.21c0.343-0.328-0.088-0.867-0.484-0.604	c-3.53,2.341-8.424,5.59-9.047,6.013c-0.941,0.639-1.845,0.932-3.467,0.466c-1.226-0.352-2.423-0.772-2.889-0.932	C9.384,25.282,9.81,24.484,11.553,23.717z"
              ></path></svg
            >
            <span class="sr-only">social link</span>
          </a>

          <a
            href="https://instagram.com/zakiy_academy_?utm_source=qr&igshid=MzNlNGNkZWQ4Mg%3D%3D"
            class="transition hover:text-heading-1 hover:scale-105"
            target="_blank"
          >
            <svg
              xmlns="http://www.w3.org/2000/svg"
              viewBox="0 0 48 48"
              width="32px"
              height="32px"
              ><radialGradient
                id="yOrnnhliCrdS2gy~4tD8ma"
                cx="19.38"
                cy="42.035"
                r="44.899"
                gradientUnits="userSpaceOnUse"
                ><stop offset="0" stop-color="#fd5"></stop><stop
                  offset=".328"
                  stop-color="#ff543f"></stop><stop
                  offset=".348"
                  stop-color="#fc5245"></stop><stop
                  offset=".504"
                  stop-color="#e64771"></stop><stop
                  offset=".643"
                  stop-color="#d53e91"></stop><stop
                  offset=".761"
                  stop-color="#cc39a4"></stop><stop
                  offset=".841"
                  stop-color="#c837ab"></stop></radialGradient
              ><path
                fill="url(#yOrnnhliCrdS2gy~4tD8ma)"
                d="M34.017,41.99l-20,0.019c-4.4,0.004-8.003-3.592-8.008-7.992l-0.019-20	c-0.004-4.4,3.592-8.003,7.992-8.008l20-0.019c4.4-0.004,8.003,3.592,8.008,7.992l0.019,20	C42.014,38.383,38.417,41.986,34.017,41.99z"
              ></path><radialGradient
                id="yOrnnhliCrdS2gy~4tD8mb"
                cx="11.786"
                cy="5.54"
                r="29.813"
                gradientTransform="matrix(1 0 0 .6663 0 1.849)"
                gradientUnits="userSpaceOnUse"
                ><stop offset="0" stop-color="#4168c9"></stop><stop
                  offset=".999"
                  stop-color="#4168c9"
                  stop-opacity="0"></stop></radialGradient
              ><path
                fill="url(#yOrnnhliCrdS2gy~4tD8mb)"
                d="M34.017,41.99l-20,0.019c-4.4,0.004-8.003-3.592-8.008-7.992l-0.019-20	c-0.004-4.4,3.592-8.003,7.992-8.008l20-0.019c4.4-0.004,8.003,3.592,8.008,7.992l0.019,20	C42.014,38.383,38.417,41.986,34.017,41.99z"
              ></path><path
                fill="#fff"
                d="M24,31c-3.859,0-7-3.14-7-7s3.141-7,7-7s7,3.14,7,7S27.859,31,24,31z M24,19c-2.757,0-5,2.243-5,5	s2.243,5,5,5s5-2.243,5-5S26.757,19,24,19z"
              ></path><circle cx="31.5" cy="16.5" r="1.5" fill="#fff"
              ></circle><path
                fill="#fff"
                d="M30,37H18c-3.859,0-7-3.14-7-7V18c0-3.86,3.141-7,7-7h12c3.859,0,7,3.14,7,7v12	C37,33.86,33.859,37,30,37z M18,13c-2.757,0-5,2.243-5,5v12c0,2.757,2.243,5,5,5h12c2.757,0,5-2.243,5-5V18c0-2.757-2.243-5-5-5H18z"
              ></path></svg
            >
            <span class="sr-only">social link</span>
          </a>
        </div>
      </div>

      <div class="col-span-1 lg:col-span-1">
        <GroupFooterNav>
          <FooterNav
            title={"Ko'proq ma'lumot olish"}
            navItems={footerCompany}
          />
          <FooterNav title={"Biz haqimizda"} navItems={footerNav1} />
        </GroupFooterNav>
      </div>
    </div>
  </Container>
  <div class="bg-gradient-to-tl from-box-bg py-2 relative">
    <Container>
      <div
        class="flex justify-end items-center gap-6 md:text-lg text-heading-3"
      >
        <div>
          &copy; <span id="year"></span> Zakiy Academy o'quv markazi.
        </div>
      </div>
    </Container>
  </div>
</footer>
